<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>User Details</title>
</head>
<body>
<div class="container">
<h3>Detailansicht von {{ user_name }} (ID {{ user_id }})</h3>
<p>
<h4>Saldo: {{ user_name.get_saldo }}</h4>
<p>
<h4>Zahlungen:</h4>
{% if mypayments %}
    {% for payment in mypayments %}
    <table class="table table-bordered">
        <thead><th>Betrag</th><th>Empfänger</th><th>Zahlungsdatum</th><th>Beschreibung</th></thead>
        <tr>
            <td>
        {{ payment.amount }}</td>
            <td><ul>
     {% for user in payment.fuer.all %}

           <li>an {{user}}</li>
        {% endfor %}</ul></td>
            <td>
       {{ payment.date_time }}</td>
            <td>
        {{ payment.description }}</td>
</tr>

</table>
    {% csrf_token %}
    {% endfor %}

{% else %}
    <p>Du hast noch nichts gezahlt.</p>
{% endif %}
 <div>
        <a class="btn btn-outline-info" href="{% url 'letspay:index' %}">Zurück zur Startseite</a>
    </div>

</div>
</body>
</html>
