<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
<div class="container text-center">
  <div class="row">
<div class="col-8">
<h2 class="display-4">Willkommen auf Let's Pay</h2>
</div>

<div class="col-4">
<br>
    <a href="{% url 'letspay:salden' %}">>> Salden Übersicht</a>


    </div>
      </div>
    </div>


<p>
<div class="container">
<h4>Übersicht</h4>
</div>

<div class="container">
    {% if myusers %}
    {% for user in myusers %}


    <table class="table table-striped">
        <tr><th>Name:</th><th>Zahlungen</th><tr>
         <tr> <td><a href="{% url 'letspay:user_details' user.id %}">{{ user.name }}</a></td>

             <td>{{ user.get_payment_amount }}</td> </tr>


</table>
    {% csrf_token %}
    {% endfor %}

{% else %}
    <p>No users are available.</p>
{% endif %}
</div>

<div class="grid text-center">
    <div class="row">
    <div class="col-6">
<h5>Neuer User?</h5>
    <form action="{% url 'letspay:user_add' %}" method="post">

            <fieldset>
            {% csrf_token %}
                <label>Name: </label><input type="text" name="name" required>
                <input type="submit" value="Anlegen" class="btn btn-info">
            </fieldset>
        </form>
</div>

  <div class="col-6">
<h5>Neue Zahlung?</h5>
      <a href="{% url 'letspay:zahlung' %}" >>> Hier anlegen</a>

</div>

</div>



</body>
</html>
