<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Salden</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-md-right px-5 py-3 my-3 bg-light rounded" style="--bs-bg-opacity: .8;">
        <h2>Saldenübersicht für alle Benutzer</h2>
            <table class="table">
                {% for user in users %}
                <tr>
                    <td class="col-3">{{user.name}}</td>
                    <td>{{user.get_saldo|floatformat:2}}€</td>
                </tr>
                {% endfor %}
            </table>
    </div>




    <div>
        <a class="btn btn-secondary" href="{% url 'letspay:index' %}">Zurück zur Startseite</a>
    </div>

</div>






</body>
</html>
