<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Zahlungen</title>
</head>
<body>
<h3>Neue Zahlung veranlassen:</h3>
<p>
<br>
 <form action="{% url 'letspay:payment_to_user' %}" method="post">
     {% csrf_token %}

            <fieldset>
                <label>Betrag: </label><input type="number" name="amount" required>
                <label>Date: </label><input type="datetime-local" name="date" required>
               <br> <label>Von wem?: </label>
                <select class="mx-4" name="name">
                    {% if myusers %}
                            {% for user in myusers %}

                            <option value="{{user.id}}">{{user.name}}</option>
                            {% endfor %}
                    {% else %}
                    No users are available.
                    {% endif %}
                        </select>
              <br>  <label>Für wen?:  </label>

                    {% if myusers %}
                            {% for user in myusers %}
                            <input type="checkbox" multiple name="adressat" value="{{user.id}}">{{ user.name }}
                            {% endfor %}
                    {% else %}
                    No users are available.
                    {% endif %}
<br>
                <label>Beschreibung: </label><input type="text" name="text" required>
                <input type="submit" value="Anlegen"  class="btn btn-outline-success">
            </fieldset>
        </form>

</div>
</p>

   <div>
        <a class="btn btn-secondary" href="{% url 'letspay:index' %}">Zurück zur Startseite</a>
    </div>
</body>
</html>
