<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einzelnes ToDo</title>
</head>
<body>


<table class="table">
    <tr><thead class="thead-dark"><th>Name:</th><th>{{todo}}</th></thead></tr>
    <tr><td>Deadline:</td><td>{{todo.deadline}}</td>
    <tr><td>Status:</td><td>{{todo.status}}</td></tr>
    <tr><td>Priorität:</td><td>{{todo.priority}}</td></tr>
</table>

</body>
</html>
