<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My To Dos</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1 class="display-3">My To Do List</h1>
</div>

{% if todos %}
    {% for todo in todos %}
<p>
<div class="container">
<table class="table table-sm">
    <tr><thead class="thead-light"><th>Name:</th><th><a href="{% url 'MyToDos:detail' todo.id %}">{{todo.text}}</a></th></thead></tr>
    <tr><td>Deadline:</td><td>{{todo.deadline}}</td>
    <tr><td>Status:</td><td>{{todo.status}}</td>
    <td>
      <form action="{% url 'MyToDos:status_change' todo.id %}" method="post">
        {% csrf_token %}
        <select name="status">
          {% for item in todo.status_choices %}
          <option value="{{item.0}}">{{item.1}}</option>
          {% endfor %}
          </select>
        <input type="submit" value="Change" class="btn btn-light">
      </form>
    </td><td>
        <form action="{% url 'MyToDos:delete' todo.id %}" method="post"> {% csrf_token %}
            <input type="submit" value="Löschen" class="btn btn-outline-danger">
        </form>
    </td></tr>
    <tr><td>Priorität:</td><td>{{todo.priority}}</td></tr>



</table>
</div>
</p>
  {% endfor %}
{% endif %}
<div class="container">
<h4><i>Neues ToDo?</i></h4>
    </div>
<p>
<div class="container">
    <div class="col-16">
<form action="{% url 'MyToDos:new' %}" method="post">
            <fieldset>
            {% csrf_token %}
                <label>Titel: </label><input type="text" name="text", required>
                <label>Publiziert: </label><input type="date" name="pub_date", required>
                <label>Fälligkeit: </label><input type="date" name="deadline", required>
                <label>Status: </label>
                <select name="status", required>
                    <option value="D">Done</option>
                    <option value="T">Todo</option>
                    <option value="C">Canceled</option>
                </select>
                <label>Priorität:</label><input type="text" name="priority", required>
                <input type="submit" value="Anlegen" class="btn btn-outline-primary">
            </fieldset>
        </form>
</div>
</div>
</p>
</body>
</html>
